{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button type="submit" class="btn btn-primary">Get Quote</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ quotes["symbol"] }}</td>
                <td>{{ quotes["price"] }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}